//- Head markup
    Author: Nevena Jovanovic, nevenaj89@gmail.com
    Date: 1.9.2017
    Copyright: UNLICENSED (c) 2017 Nevena Jovanovic
    Version: 1.0.0

head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content="Currency converter")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title Currency converter

    //- Favicon
    link(rel="icon" type="image/png" href="images/icons/favicon.png")
